.header {
  margin-bottom: -96px;
  padding-top: 32px;
  padding-bottom: 24px;
  isolation: isolate;
}

.logo {
  display: block;
  width: 40px;
  height: auto;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: -112px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1160px;
    margin-inline: auto;
    margin-bottom: -182px;
    padding-top: 75px;
    padding-bottom: 43px;
  }

  .logo {
    width: 64px;
    margin-left: 0;
  }
}
